In [1]:
import pandas as pd
import mysql
from mysql import connector
from urllib.parse import quote_plus

In [2]:
# Connecting VS Code and MySQL :

con = connector.connect(
    host="localhost",
    user="root",
    password="Saisenthur@13",
    )
print(con)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000028CBD4C5E80>

In [3]:
mycursor=con.cursor()

In [5]:
# Creating a Database :

mycursor.execute("CREATE DATABASE PhonePe")

In [4]:
mycursor.execute('USE PhonePe')

In [ ]:
#Table Creation :

# 1. Aggregated Transaction
mycursor.execute("""
CREATE TABLE IF NOT EXISTS Agg_Transaction (
    State VARCHAR(50),
    Year INT,
    Quarter INT,
    Transaction_type VARCHAR(50),
    Count BIGINT,
    Amount DOUBLE
);
""")

# 2. Aggregated User
mycursor.execute("""
CREATE TABLE IF NOT EXISTS Agg_User (
    State VARCHAR(50),
    Year INT,
    Quarter INT,
    Brand VARCHAR(50),
    Count BIGINT,
    Percentage DOUBLE
);
""")

# 3. Aggregated Insurance
mycursor.execute("""
CREATE TABLE IF NOT EXISTS Agg_Insurance (
    State VARCHAR(50),
    Year INT,
    Quarter INT,
    Count BIGINT,
    Amount DOUBLE
);
""")

# 4. Map Transaction
mycursor.execute("""
CREATE TABLE IF NOT EXISTS Map_Transaction (
    State VARCHAR(50),
    Year INT,
    Quarter INT,
    District VARCHAR(100),
    Count BIGINT,
    Amount DOUBLE
);
""")

# 5. Map User
mycursor.execute("""
CREATE TABLE IF NOT EXISTS Map_User (
    State VARCHAR(50),
    Year INT,
    Quarter INT,
    District VARCHAR(100),
    RegisteredUsers BIGINT,
    AppOpens BIGINT
);
""")

# 6. Map Insurance
mycursor.execute("""
CREATE TABLE IF NOT EXISTS Map_Insurance (
    State VARCHAR(50),
    Year INT,
    Quarter INT,
    District VARCHAR(100),
    Count BIGINT,
    Amount DOUBLE
);
""")

# 7. Top Transaction
mycursor.execute("""
CREATE TABLE IF NOT EXISTS Top_Transaction (
    State VARCHAR(50),
    Year INT,
    Quarter INT,
    District VARCHAR(100),
    Count BIGINT,
    Amount DOUBLE
);
""")

# 8. Top User
mycursor.execute("""
CREATE TABLE IF NOT EXISTS Top_User (
    State VARCHAR(50),
    Year INT,
    Quarter INT,
    District VARCHAR(100),
    RegisteredUsers BIGINT
);
""")

# 9. Top Insurance
mycursor.execute("""
CREATE TABLE IF NOT EXISTS Top_Insurance (
    State VARCHAR(50),
    Year INT,
    Quarter INT,
    District VARCHAR(100),
    Count BIGINT,
    Amount DOUBLE
);
""")

# Commit the changes
con.commit()
print("All 9 tables created successfully in MySQL.")

âœ… All 9 tables created successfully in MySQL.

In [8]:
df_agg_transaction = pd.read_csv("C:/Users/saisenthur/OneDrive/Desktop/Courses/Guvi/Data Science 2/projects/2_PhonePe Transaction Insights/CSV files/agg_transaction.csv")
df_agg_user = pd.read_csv("C:/Users/saisenthur/OneDrive/Desktop/Courses/Guvi/Data Science 2/projects/2_PhonePe Transaction Insights/CSV files/agg_user.csv")
df_agg_insurance = pd.read_csv("C:/Users/saisenthur/OneDrive/Desktop/Courses/Guvi/Data Science 2/projects/2_PhonePe Transaction Insights/CSV files/agg_insurance.csv")
df_map_transaction = pd.read_csv("C:/Users/saisenthur/OneDrive/Desktop/Courses/Guvi/Data Science 2/projects/2_PhonePe Transaction Insights/CSV files/map_transaction.csv")
df_map_user = pd.read_csv("C:/Users/saisenthur/OneDrive/Desktop/Courses/Guvi/Data Science 2/projects/2_PhonePe Transaction Insights/CSV files/map_user.csv")
df_map_insurance = pd.read_csv("C:/Users/saisenthur/OneDrive/Desktop/Courses/Guvi/Data Science 2/projects/2_PhonePe Transaction Insights/CSV files/map_insurance.csv")
df_top_transaction = pd.read_csv("C:/Users/saisenthur/OneDrive/Desktop/Courses/Guvi/Data Science 2/projects/2_PhonePe Transaction Insights/CSV files/top_transaction.csv")
df_top_user = pd.read_csv("C:/Users/saisenthur/OneDrive/Desktop/Courses/Guvi/Data Science 2/projects/2_PhonePe Transaction Insights/CSV files/top_user.csv")
df_top_insurance = pd.read_csv("C:/Users/saisenthur/OneDrive/Desktop/Courses/Guvi/Data Science 2/projects/2_PhonePe Transaction Insights/CSV files/top_insurance.csv")

In [9]:
# Feeding the data into the tables created :

from sqlalchemy import create_engine

mysql_user = "root"         # Replace with your MySQL username
mysql_password = quote_plus("Saisenthur@13")     # Replace with your MySQL password
mysql_host = "localhost"             # Replace with your MySQL host
mysql_port = 3306                    # Default MySQL port
mysql_db = "PhonePe"      # Replace with your database name

engine = create_engine(f"mysql+mysqlconnector://{mysql_user}:{mysql_password}@{mysql_host}:{mysql_port}/{mysql_db}")

df_agg_transaction.to_sql('Agg_Transaction', con=engine, if_exists='append', index=False)
df_agg_user.to_sql('Agg_user', con=engine, if_exists='append', index=False)
df_agg_insurance.to_sql('Agg_insurance', con=engine, if_exists='append', index=False)
df_map_transaction.to_sql('Map_Transaction', con=engine, if_exists='append', index=False)
df_map_user.to_sql('Map_user', con=engine, if_exists='append', index=False)
df_map_insurance.to_sql('Map_insurance', con=engine, if_exists='append', index=False)
df_top_transaction.to_sql('Top_Transaction', con=engine, if_exists='append', index=False)
df_top_user.to_sql('Top_user', con=engine, if_exists='append', index=False)
df_top_insurance.to_sql('Top_insurance', con=engine, if_exists='append', index=False)

C:\Users\saisenthur\AppData\Local\Temp\ipykernel_21892\2060165868.py:13: UserWarning: The provided table name 'Agg_Transaction' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_agg_transaction.to_sql('Agg_Transaction', con=engine, if_exists='append', index=False)
C:\Users\saisenthur\AppData\Local\Temp\ipykernel_21892\2060165868.py:14: UserWarning: The provided table name 'Agg_user' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_agg_user.to_sql('Agg_user', con=engine, if_exists='append', index=False)
C:\Users\saisenthur\AppData\Local\Temp\ipykernel_21892\2060165868.py:15: UserWarning: The provided table name 'Agg_insurance' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_agg_insurance.to_sql('Agg_insurance', con=engine, if_exists='append', index=False)
C:\Users\saisenthur\AppData\Local\Temp\ipykernel_21892\2060165868.py:16: UserWarning: The provided table name 'Map_Transaction' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_map_transaction.to_sql('Map_Transaction', con=engine, if_exists='append', index=False)
C:\Users\saisenthur\AppData\Local\Temp\ipykernel_21892\2060165868.py:17: UserWarning: The provided table name 'Map_user' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_map_user.to_sql('Map_user', con=engine, if_exists='append', index=False)
C:\Users\saisenthur\AppData\Local\Temp\ipykernel_21892\2060165868.py:18: UserWarning: The provided table name 'Map_insurance' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_map_insurance.to_sql('Map_insurance', con=engine, if_exists='append', index=False)
C:\Users\saisenthur\AppData\Local\Temp\ipykernel_21892\2060165868.py:19: UserWarning: The provided table name 'Top_Transaction' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_top_transaction.to_sql('Top_Transaction', con=engine, if_exists='append', index=False)
C:\Users\saisenthur\AppData\Local\Temp\ipykernel_21892\2060165868.py:20: UserWarning: The provided table name 'Top_user' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_top_user.to_sql('Top_user', con=engine, if_exists='append', index=False)
C:\Users\saisenthur\AppData\Local\Temp\ipykernel_21892\2060165868.py:21: UserWarning: The provided table name 'Top_insurance' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_top_insurance.to_sql('Top_insurance', con=engine, if_exists='append', index=False)

5608

In [5]:
state_mapping = {
    "andaman-&-nicobar-islands": "Andaman & Nicobar",
    "andhra-pradesh": "Andhra Pradesh",
    "arunachal-pradesh": "Arunachal Pradesh",
    "assam": "Assam",
    "bihar": "Bihar",
    "chandigarh": "Chandigarh",
    "chhattisgarh": "Chhattisgarh",
    "dadra-&-nagar-haveli-&-daman-&-diu": "Dadra and Nagar Haveli and Daman and Diu",
    "delhi": "Delhi",
    "goa": "Goa",
    "gujarat": "Gujarat",
    "haryana": "Haryana",
    "himachal-pradesh": "Himachal Pradesh",
    "jammu-&-kashmir": "Jammu & Kashmir",
    "jharkhand": "Jharkhand",
    "karnataka": "Karnataka",
    "kerala": "Kerala",
    "ladakh": "Ladakh",
    "lakshadweep": "Lakshadweep",  # No corrected name provided, kept same
    "madhya-pradesh": "Madhya Pradesh",
    "maharashtra": "Maharashtra",
    "manipur": "Manipur",
    "meghalaya": "Meghalaya",
    "mizoram": "Mizoram",
    "nagaland": "Nagaland",
    "odisha": "Odisha",
    "puducherry": "Puducherry",
    "punjab": "Punjab",
    "rajasthan": "Rajasthan",
    "sikkim": "Sikkim",
    "tamil-nadu": "Tamil Nadu",
    "telangana": "Telangana",
    "tripura": "Tripura",
    "uttar-pradesh": "Uttar Pradesh",  # These two were swapped
    "uttarakhand": "Uttarakhand",
    "west-bengal": "West Bengal"
}

# List of tables and the column where state is stored
tables_with_state = [
    "agg_transaction", "agg_user", "agg_insurance",
    "map_transaction", "map_user", "map_insurance",
    "top_transaction", "top_user", "top_insurance"
]

# Loop over each table and apply mapping
for table in tables_with_state:
    for wrong_name, correct_name in state_mapping.items():
        sql = f"UPDATE {table} SET State = %s WHERE State = %s"
        mycursor.execute(sql, (correct_name, wrong_name))

con.commit()
mycursor.close()
con.close()
print("All state names standardized.")

All state names standardized.